header {
    width: 100%;
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 25px;
    background-color: #780000;
    transition: background-color 1s ease-in-out;
}

body {
    margin: 0;
    padding: 0;
    background-color: #003049;
}

h1 {
    font-size: 2.5em;
    padding-left: 10%;
    font-family: "Cherry Bomb One", serif;
    color: #fdf0d5;
}

h2 {
    font-size: 1.3em;
    padding-left: 10%;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #fdf0d5;
}

h3 {
    padding-left: 5%;
    padding-top: 20px;
    font-family: "Cherry Bomb One", serif;
    color: #fdf0d5;
    font-size: 1.4em;
}

.content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 40px 35px;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 1;
}

.right {
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex: 2;             
}

article {
    background-color: #669bbc;
}

article.postart {
    margin: auto;
    width: 50%;
}

article:hover {
    scale: 1.2em;
}

article.updown {
    display: flex;
    flex-direction: column;
    background-color: #669bbc;
}

article.sideside {
    display: flex;
    flex-direction: column;
    background-color: #669bbc;
    flex: 1;
}

ul {
    padding-inline-start: 5%;
    list-style: none;
}

li {
    font-size: 1em;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #fdf0d5;
    padding: 5px 0px;
}

li a {
  transition: all 0.5s ease; 
}

li a:hover {
    font-size: larger;
    color: #780000;
}

p {
    margin: auto;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #fdf0d5;
}

p.postpara, p.postapara a {
    width: 60%;
    margin: auto;
    padding-bottom: 20px;
}

a {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #fdf0d5; 
}

/*when finished don't forget to do
git add .
git commit -m "lorem"
git push*/